* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content-box {
    margin-top: 100px;
    padding: 0 15px;
}
.form-submit h4 {
    font-size: 30px;
font-family: 'Poppins', sans-serif;
font-weight: bold;
    /* font-weight: bold; */
}
.image-mail img {
    width: 150px;
}
@media (max-width: 495px) {
    .form-submit h4 {
        font-size: 20px;
    }
    .image-mail img {
        width: 110px;
    }
}
.p-text {
    font-family: 'Poppins', sans-serif;
}

.go-home button {
padding: 10px 15px;
font-family: 'Poppins', sans-serif;
font-size: 17px;
color: #fff;
border: none;
background-color: #1667d9;
border-radius: 5px;
width: 100%;
}
@media (min-width: 1150px) {
    .go-home button {
        width: 70%;
    }
}

.redirected {
    font-size: 14px;
}